
body{
   background-color: antiquewhite; 
   background-image: url(https://images.pexels.com/photos/673648/pexels-photo-673648.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

div{
    display: block;
    width:1500px;
    height:1000px;
    position: relative;
    left:200px;
    
}

header{
    height: 100px;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/05/09/31/banner-1571858_960_720.jpg);
    margin-top: 0px;
}

h1{
   font-size: xx-large;
   font-style: italic;
   color: cornflowerblue;
   text-align: center;
   height:30px;
   padding-top: 20px;
   word-spacing: 10px;
}

section{
    width: 80%;
    height: 380px;
   /* border: 2px solid #23bd2a;*/
    margin-bottom: 30px;
    margin-top: 20px;
}

figure{
    float: left;
    width: 600px;
    height: 360px;
    padding: 0px;
    margin: 5px;
    /*border: 1px solid #af3030;*/
    margin-top: -15px;
}

hgroup{
    margin-left: 40px;
    padding-top: 60px;
}


img{
    width: 100%;
    height: 100%;
}

aside{
    /*border: 1px solid blueviolet;*/
    width:200px;
    height:800px;
    position :fixed;
    top:130px;
    left:1500px;
    background-color: lightcoral;

}

nav{
    font-size: larger;

    word-spacing: 40px;
}

a{
    color: forestgreen;
}

h3{
    color: rgb(4, 0, 255);
}

h2, h3{
    text-align: center;
    color: rgb(4, 0, 255);
}

figcaption{
    color:red;
}